@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

body {
  background-color: #222831;
  color: #ababab;
}

.bginside {
  box-shadow: inset -3px -2px 5px rgba(255, 255, 255, 0.25),
    inset 5px 5px 15px rgba(0, 0, 0, 0.25);
}

.dark-text {
  color: #454b54;
}

.primary-clr {
  color: #ababab;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
